rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.auth.token.email.matches("firebase@flutterflow.io");
    }

    match /users/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /chat_messages/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /users/{parent}/reviews/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if request.auth != null;
    }

    match /{path=**}/reviews/{document} {
      allow read: if true;
    }


    match /logger/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /reset-pass/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /auth-pass/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /users/{parent}/location/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if false;
    }

    match /{path=**}/location/{document} {
      allow read: if true;
    }


    match /chats/{document} {
      allow create: if true;
      allow read: if /databases/$(database)/documents/users/$(request.auth.uid) in resource.data.users;
      allow write: if true;
      allow delete: if true;
    }

    match /subscribe/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /subscriptions/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /users/{parent}/location_work/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if false;
    }

    match /{path=**}/location_work/{document} {
      allow read: if true;
    }


    match /users/{parent}/abilities/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if false;
    }

    match /{path=**}/abilities/{document} {
      allow read: if true;
    }


    match /plans_info/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /payment_reports/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /benefits_plan/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /services/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /pending_tasks/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /review_requests/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /verification-email-register/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /users/{parent}/offered_service/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if false;
    }

    match /{path=**}/offered_service/{document} {
      allow read: if true;
    }


    match /notifications_activities/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /available_service/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /selected_taskerAI/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /ff_user_push_notifications/{document} {
      allow create: if /databases/$(database)/documents/users/$(request.auth.uid) == request.resource.data.sender;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }
  }
}